.userCards {
    max-width: 1200px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    gap: 30px;
    justify-items: center;
    margin: 30px auto;
}

.loadMoreBtn {
    background-color: #d3d3d3;
    border-radius: 5px;
    color: green;
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    padding: 10px;
    text-align: center;
    transition: 0.3s linear;
    min-width: 90px;
    max-width: 200px;
    border: none;
    cursor: pointer;
}

.loadMoreBtn:hover {
    background-color: green;
    color: lightgray;
    box-shadow: 10px 5px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12),
        inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}
