.userCard {
    width: 380px;
    height: 460px;
    background: linear-gradient(114.99deg, #471ca9 -0.99%, #5736a3 54.28%, #4b2a99 78.99%);
    box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
    border-radius: 20px;
    transition: filter 400ms linear;
}

.imgWrapper {
    height: 218px;
    position: relative;
    background-image: url('../../image/picture.png');
    background-repeat: no-repeat;
    background-position: center;
}

.imgWrapper::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 8px;
    background: #ebd8ff;
    box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.06), inset 0px -1.71846px 3.43693px #ae7be3,
        inset 0px 3.43693px 2.5777px #fbf8ff;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

.picture {
    position: absolute;
    left: 36px;
    top: 28px;
}

.avatarWrapper {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background: #ebd8ff;
    box-shadow: 0px 4.39163px 4.39163px rgba(0, 0, 0, 0.06), inset 0px -2.19582px 4.39163px #ae7be3,
        inset 0px 4.39163px 3.29372px #fbf8ff;
    border-radius: 50%;
}

.userAvatar {
    height: 64px;
    border-radius: 50%;
}

.userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 62px 16px 36px;
}

.userText {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #ebd8ff;
}

.btn {
    width: 196px;
    box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
    border-radius: 10.3108px;
    border: none;
    padding: 14px 28px;
    margin-top: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #373737;
    cursor: pointer;
    background-color: #ebd8ff;
}

.btn:hover > .b {
    -webkit-animation: text-shadow-pop-bottom 0.6s both;
    animation: text-shadow-pop-bottom 0.6s both;
}

@-webkit-keyframes text-shadow-pop-bottom {
    0% {
        text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555,
            0 0 #555555, 0 0 #555555;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        text-shadow: 0 1px #555555, 0 2px #555555, 0 3px #555555, 0 4px #555555;
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
}
@keyframes text-shadow-pop-bottom {
    0% {
        text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555,
            0 0 #555555, 0 0 #555555;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        text-shadow: 0 1px #555555, 0 2px #555555, 0 3px #555555, 0 4px #555555;
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
}

.followingBtn {
    background-color: #5cd3a8;
}
